{% extends "base.html" %}

{%  load web_extras %}

{% block title %}
Rare Suffixes
{% endblock %}

{% block content %}
{% autoescape off %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <tr>
          <th>&nbsp;</th>
          {% for item_type in item_types %}
          <th>{{ item_type }}</th>
          {% endfor %}
        </tr>
        {% for item_rare_suffix_index in item_rare_suffixes_len|range_ %}
        <tr>
          <td>{{ item_rare_suffixes.item_rare_suffix_index }}</td>
          {% for item_type_index in item_types_len|range_ %}
          <th>{{ item_rare_suffix_index }}, {{ item_type_index }}</th>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endautoescape %}
{% endblock %}
