{% extends "base.html" %}

{%  load web_extras %}

{% block title %}
Rare Suffixes
{% endblock %}

{% block content %}
{% autoescape off %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <tr>
          <th>&nbsp;</th>
          {% for item_type in item_types %}
          <th>{{ item_type }}</th>
          {% endfor %}
        </tr>
        {% for item_matrix_sublist in item_matrix %}
        <tr>
          <td>{{ item_rare_suffixes|get_list_item:forloop.counter0 }}</td>
          {% for item_suffix in item_matrix_sublist %}
          <td>
              {% if item_suffix %}
              <strong class="text-success">{{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }}</strong>
              {%  else %}
              <span class="text-muted">NO</span>{% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endautoescape %}
{% endblock %}
