{% extends "base.html" %}

{% block title %}
All Affixes
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Prefix Groups</h4></div>
      <ul class="list-group">
      {% for prefixgroup in prefixgroup_list %}
        <li class="list-group-item">
          <span class="badge">{{ prefixgroup.affixes }}</span>
          <a href="{% url 'affixgroup' prefixgroup.pk %}">{{ prefixgroup }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Suffix Groups</h4></div>
      <ul class="list-group">
      {% for suffixgroup in suffixgroup_list %}
        <li class="list-group-item">
          <span class="badge">{{ suffixgroup.affixes }}</span>
          <a href="{% url 'affixgroup' suffixgroup.pk %}">{{ suffixgroup }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
