{% extends "base.html" %}

{% block title %}
{{ affix_group }}
{% endblock %}

{% block content %}
{% autoescape off %}
{% if affixes %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>{% if affix_group.prefix %}prefix{% else %}suffix{% endif %}es: {{ affix_group }}</h4></div>
        {% if affix_group.description %}
        <div class="panel-body">
          <em>{{ affix_group.description }}</em>
        </div>
        {% endif %}
        <ul class="list-group">
        
        {% for affix in affixes %}
          <li class="list-group-item"><a href="{% url 'affix' affix.pk %}">{{ affix }}</a><span class="pull-right">(<em>level {{ affix.ilevel }})</em></span></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% else %}
  <p>This affix group has no affixes.</p>
{% endif %}
{% endautoescape %}
{% endblock %}
