{% extends "base.html" %}

{% block title %}
{{ affixgroup }}
{% endblock %}

{% block content %}
{% autoescape off %}
{% if affixes %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>{% if affixgroup.prefix %}prefixes{% else %}suffixs{% endif %}: {{ affixgroup }}</h4></div>
        {% if affixgroup.description %}
        <div class="panel-body">
          <em>{{ affixgroup.description }}</em>
        </div>
        {% endif %}
        <ul class="list-group">
        
        {% for affix in affixes %}
          <li class="list-group-item"><a href="{% url 'affix' affix.pk %}">{{ affix }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% else %}
  <p>This affix group has no affixes.</p>
{% endif %}
{% endautoescape %}
{% endblock %}
