{% extends "base.html" %}

{% block title %}
Generate Items
{% endblock %}

{% block content %}
{% if item_list %}
    <form role="form" action="{% url 'itemgen' %}" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="baseItem">Base Item</label>
            <select class="form-control" id="baseItem" name="baseItem">
            {% for item in item_list %}
              <option value="{{ item.pk }}">{{ item }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prefixes">Prefixes</label>
            <select multiple class="form-control" id="prefixes" name="prefixgroup">
            {% for prefix in prefix_list %}
              <option value="{{ prefix.pk }}">{{ prefix }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="suffixes">Suffixes</label>
            <select multiple class="form-control" id="suffixes" name="suffixgroup">
            {% for suffix in suffix_list %}
              <option value="{{ suffix.pk }}">{{ suffix }}</option>
            {% endfor %}
            </select>
          </div>
            
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 center-block">
          <input type="submit" value="Generate" />
        </div>
      </div>
    </form>
{% else %}
    <p>Nothing to see here.</p>
{% endif %}
{% endblock %}
