{% extends "base.html" %}

{% block title %}
Generate Items
{% endblock %}

{% block content %}
{% if item_list %}
    <form role="form">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="baseItem">Base Item</label>
            <select class="form-control" id="baseItem">
            {% for item in item_list %}
              <option>{{ item }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prefixes">Prefixes</label>
            <select multiple class="form-control" id="prefixes">
            {% for prefix in prefix_list %}
              <option>{{ prefix }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="suffixes">Suffixes</label>
            <select multiple class="form-control" id="suffixes">
            {% for suffix in suffix_list %}
              <option>{{ suffix }}</option>
            {% endfor %}
            </select>
          </div>
            
        </div>
    </form>
{% else %}
    <p>Nothing to see here.</p>
{% endif %}
{% endblock %}
