{% extends "base.html" %}

{% block title %}
{{ item }}
{% endblock %}

{% block content %}
{% autoescape off %}
{% if item %}
   <h3 class="text-item-{{ item.get_rarity_display.lower }}">{{ item }}</h3>
   <h4>item level {{ item.ilevel }}
   {% if item.base and item.base != item %}
     (based on <a href="{% url 'item' item.base.pk %}" class="text-item-{{ item.base.get_rarity_display.lower }}">{{ item.base }}</a>)
   {% endif %}
   </h4>
   {% if item.description %}
   <div class="well well-sm">{{ item.description }}</div>
   {% endif %}
   {% if item.modification %}
     <br/>Base:
   {% endif %}
   {% for modification in item.modification.all %}
     <br />{{ modification }}
   {% endfor %}

   {% for affix in item_affixes %}
     <br /><strong>{{ affix }}</strong> {% if affix.prefix %}prefix{% else %}suffix{% endif %}:
     {% for modification in affix.modifications.all %}
       <br />{{ modification }}
     {% endfor %}
   {% endfor %}
{% else %}
    <p>No item to see here.</p>
{% endif %}
{% endautoescape %}
{% endblock %}

