{% extends "base.html" %}

{% block title %}
All Items
{% endblock %}

{% block content %}
{% autoescape off %}
{% if item_list %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    {% for item_type_list in item_list %}
      <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ item_type_list.0.itype|lower }}</h4></div>
          <ul class="list-group">
          {% for item in item_type_list %}
            <li class="list-group-item"><a href="{% url 'item' item.id %}" class="text-item-{{ item.get_rarity_display.lower }}">{{ item }}</a></li>
          {% endfor %}
          </ul>
      </div>
    {% endfor %}
    </div>
  </div>
{% else %}
  <p>No items to see here.</p>
{% endif %}
{% endautoescape %}
{% endblock %}
